.wm-app .no-select .list-group .list-group-item,.wm-app .no-select .list-group .list-group-item:hover,.wm-app .no-select .list-group .list-group-item:focus,.wm-app .no-select .list-group .list-group-item.active {
        background-color: #93D8F5 !important;
        margin : 10px 10px 10px 10px;
}

.fa-lg {
  
    vertical-align: 50%;
}
/*.wm-app .list-group .list-group-item.active {*/
  
/*     background-color: #93D8F5 !important; */
/*    border-bottom-width: 1px;*/
   
/*}*/

/*.wm-app .list-group .list-group-item.active:hover, .wm-app .list-group .list-group-item.active:focus {*/
    
/*    background-color:#93D8F5;*/
/*}*/
/*.wm-app .list-group .list-group-item:hover {*/
/*   background-color:#93D8F5;*/
/*    outline: 0;*/
/*}*/