<wm-partial data-ng-controller="noTripsPagePartialPageController" name="partial1"> 
    <wm-picture name="picture1" pictureaspect="Both" picturesource="resources/images/imagelists/noBookingFlight.png"></wm-picture> 
    <wm-label name="label1" class="h4" caption="You don't have any approved trips yet." textalign="center"></wm-label> 
    <wm-label class="h4" caption="Create a Request" textalign="center" name="label2"></wm-label> 
</wm-partial>