<wm-partial data-ng-controller="AirportsListingPageController" name="partial1">
    <wm-mobile-navbar name="mobile_navbar1" searchbutton="true" defaultview="searchview" backbutton="false" show="true" searchkey="airportName" on-backbtnclick="mobile_navbar1Backbtnclick($event, $scope)" datafield="airportName" searchplaceholder="Search by Name"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1"></wm-page-content>
    </wm-content>
    <wm-livelist listclass="list-group" itemclass="list-group-item media" template="true" dataset="bind:Variables.getDomesticAirports.dataSet" navigation="None" name="livelist3" on-tap="livelist3Tap($event, $scope)" datafield="All Fields" nodatamessage="No Airports Found">
        <wm-listtemplate layout="media" name="listtemplate3_1">
            <wm-container class="media-left" data-template-ctr="true" name="container4_1" margin="unset unset 0px unset">
                <wm-icon name="icon1" iconclass="wi wi-airplanemode-active fa-3x" color="#37c6f4"></wm-icon>
            </wm-container>
            <wm-container class="media-body" data-template-ctr="true" margin="unset unset 0px unset" name="container2">
                <wm-label width="100%" caption="bind:Variables.getDomesticAirports.dataSet[$i].city+' ,'+Variables.getDomesticAirports.dataSet[$i].country" class="media-heading h4" name="label3"></wm-label>
                <wm-label width="100%" caption="bind:Variables.getDomesticAirports.dataSet[$i].airportCode+' - '+Variables.getDomesticAirports.dataSet[$i].airportName" class="text-muted" name="label4"></wm-label>
            </wm-container>
        </wm-listtemplate>
    </wm-livelist>
</wm-partial>